/* Selettore del tag */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    text-decoration: overline;
    color: rgb(0, 128, 0)
}

p {
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 255);
}

.link {
    text-decoration: none;
}

/* Selettore di id */
#titolo-secondario {
    color: rgb(255, 0, 0);
}

/* Selettore di classe */
.secondasezione {
    text-align: center;
    color: rgb(15, 147, 235)
}

.altro-titolo {
    color: rgb(128, 0, 128)
}

.uppercase {
    text-transform: uppercase;
}

.square {
    background-color: rgb(0, 0, 255);
    height: 400px;
    width: 400px;
}

.big-square {
    background-color: rgb(165, 42, 42);
    height: 400px;
    width: 70%;
}

.banner-section {
    height: 300px;
    background-color: rgb(127, 255, 212);
    background-image: url(../img/cat.jpg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}